<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-hijo-uno">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `componente-hijo-uno`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteHijoUno extends Polymer.Element {
      static get is() { return 'componente-hijo-uno'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'componente-hijo-uno'
          }
        };
      }
    }

    window.customElements.define(ComponenteHijoUno.is, ComponenteHijoUno);
  </script>
</dom-module>
