<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-hijo-uno">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-if" if="[[showHijo1]]">
      <h2>[[prop1]]</h2>
      <p>Soy el hijo uno!</p>
      <button on-click="_botonLista">Lista</button>
      <button on-click="_botonTabla">Tabla</button>
    </template>
  </template>

  <script>
    /**
     * `componente-hijo-uno`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteHijoUno extends Polymer.Element {
      static get is() {
        return 'componente-hijo-uno';
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Descripción'
          },
          showHijo1: {
            type: Boolean,
            value: true
          }
        };
      }
      _botonLista(e) {
        console.log('Entre a _botonLista(e)');
        this.showHijo1 = false;
        this.dispatchEvent(new CustomEvent('button-lista'
          /* , {
            detail: {
              kicked: true
            }
          } */
        ));
      }
      _botonTabla(e) {
        console.log('Entre a _botonTabla(e)');
        this.showHijo1 = false;
        this.dispatchEvent(new CustomEvent('button-tabla'
          /* , {
            detail: {
              kicked: true
            }
          } */
        ));
      }
    }

    window.customElements.define(ComponenteHijoUno.is, ComponenteHijoUno);
  </script>
</dom-module>